@import "./../../../../styles/variables";

.footerContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  .left {
    display: flex;
    padding: 10px 24px;
    flex: 60%;
    .logo {
      width: 30px;
      height: 30px;
      display: flex;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      .word {
        font-weight: 700;
        color: white;
      }
    }
    .text {
      font-size: 10px;
      font-weight: 700;
      line-height: 12px;
      display: flex;
      align-items: center;
      color: #212529;
      margin-left: 10px;
      text-align: left;
    }
  }
  .right {
    display: flex;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 40%;
    flex-direction: column;
    text-align: end;
    padding: 4px 24px 4px 20px;
    .title {
      font-size: 8px;
      line-height: 12px;
      white-space: nowrap;
      margin-bottom: 2px;
      color: white;
    }
    .img {
      flex-shrink: 0;
      height: 0;
    }
  }
}
