@import "./../variables";

.categoryWrapper {
  padding: 16px 24px;
  background-color: $green-primary;
  margin-bottom: 16px;
  height: 150px;
  display: flex;
  border-radius: 8px;
  color: $darkpurple-primary;
  align-items: flex-start;
  position: relative;
  .CategoryItem {
    color: $darkpurple-primary;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.25px;
    }
    .sub {
      font-size: 12px;
      opacity: 0.8;
      max-width: 200px;
      line-height: 20px;
    }
  }
  .buttonRandom {
    width: 100%;
  }
  .ButtonNavigation {
    position: absolute;
    // width: 150px;
    // filter: invert(1);
    right: 0;
    bottom: -7px;
    opacity: 0.75;
  }
}
