@import "./../variables";

.categoryContainer {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  align-items: center;
  .categoryWrapper {
    width: 100%;
    text-align: center;
    .titleRandom {
      font-size: 24px;
      font-weight: 700;
      width: 100%;
      color: #35475a;
      margin-bottom: 12px;
      text-transform: capitalize;
    }
    .subTitleRandom {
      color: #35475a;
      font-size: 14px;
      margin-bottom: 24px;
    }
  }

  .countNumber {
    font-size: 120px;
    color: #35475a;
    font-weight: 600;
    text-align: center;
  }

  .selectedOption {
    text-align: center;
    font-size: 24px;
    width: fit-content;
    display: flex;
    align-self: center;
    margin-top: 62px;
    div {
      padding: 12px 32px;
      // width: max-content;
      margin: auto;
      border-radius: 10px;
      font-weight: 700;
      color: $darkpurple-primary;
      background-color: $white-primary;
    }
  }

  .buttonRandom {
    width: 100%;
    border: none !important;
    background-color: #748cca;
    box-shadow: 0px 6px 12px rgba(72, 72, 72, 0.15);
    color: $white-primary;
    height: 62px;
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    .innerButton {
      background: $white;
      border-radius: 10px;
      height: 100%;
      color: #35475a;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
    }
    // button {
    //   span {
    //     background-color: $white;
    //   }
    // }
  }
}
.pattern {
  position: absolute;
  bottom: 0;
  opacity: 0.25;
  left: 0;
}
.wrapperResult {
  display: flex;
  width: min-content;
  padding: 12px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #748cca;
  .emoji {
    font-size: 126px;
    // margin-bottom: 16px;
  }
}
