@import "./../variables";

.menuHome {
  background-color: $green-primary;
  height: 240px;
  box-shadow: $box-shadow;
  padding: 32px;
  margin-bottom: 42px;
  position: relative;
  border-radius: 8px;
  position: relative;
  .illustration {
    position: absolute;
    bottom: -28px;
    right: 12px;
    background-color: #f6f1e1;
    border-radius: 78px;
    padding: 10px;
  }
  .text {
    color: $darkpurple-primary;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  .main {
    position: absolute;
    bottom: -7px;
    right: 0;
    opacity: 0.75;
  }
  .subText {
    font-size: 12px;
    line-height: 16px;
    color: $darkblue-fade;
    line-height: 20px;
    span {
      font-weight: 700;
    }
  }
}
.invertHome {
  background-color: #f3f3f7;

  .text {
    color: $darkpurple-primary;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  .subText {
    font-size: 12px;
    line-height: 16px;
    color: $darkpurple-primary;
    line-height: 20px;
    span {
      font-weight: 700;
    }
  }
}
