/* colors */
$blue-primary: #4f87fb;
$blue-secondary: #1b3965;
$purple-primary: #5d39dd;
$greenfade-primary: #bff2f4;
$darkblue-primary: #2e384e;
$darkblue-fade: #252e42cf;
$blue-light: #ecf6fe;
$black: #000;
$black-primary: #383838;
$black-secondary: #232323;
$white: #fff;
$white-primary: #f8f6f6;
$white-fade: #f8f6f679;
$grey-primary: #a3a2a2;
$grey-secondary: #c3c1c1;
$green-primary: #00825c;
$red-primary: #ff685d;

/* cards */
$box-shadow: rgb(37 46 66 / 33%) 0px 32px 42px -20px;
$box-shadow-secondary: 0px 2px 2px rgba(66, 66, 66, 0.2),
  0px 0px 4px rgba(66, 66, 66, 0.2);
$border-radius: 0.5rem;

/* hover events */
$transition: 0.4s ease;
$opacity: 0.7;

/* text */
$font-weight-bold: 700;

$font-family-main: "Poppins";
$font-poppins: "Poppins";
$font-family-secondary: "Work Sans";
$font-workSans: "Work Sans";

// navbar header height
$header-height-desktop: 104px;
$header-height-mobile: 72px;
